{% extends "base_services/base.html" %}

{% block content %}
    <h1>Edit User settings</h1>
    <h3>{{ user }}</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if is_saved %}
            <div class="alert alert-success" role="alert">
                User settings saved!
            </div>
            {#            <button type="submit" class="btn btn-outline-secondary">Return</button>#}
            <a href="{% url 'services:service_list' %}" class="btn btn-outline-secondary">Return</a>
        {% else %}
            <button type="submit" class="btn btn-outline-primary">Save</button>
        {% endif %}

        {#    <a href="{% url 'services:client_delete' client.id %}" class="btn btn-outline-danger">Delete</a>#}
        {#    <a href="{% url 'services:client_list' %}" class="btn btn-outline-secondary">Back to Clients</a>#}
    </form>
{% endblock %}
