{% extends "base_services/base.html" %}

{% block content %}
<main class="form-signin">
  <form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    {{ form.non_field_errors }}
    <div>
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div>
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
  </form>
</main>
{% endblock %}
