{% extends "base_services/base.html" %}

{% block content %}
    <h3>List of Services</h3>
    <a href="{% url 'services:service_create' %}" class="btn btn-outline-success mt-2">Add Service</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th>date</th>
            <th>client</th>
            <th>kind of service</th>
            <th>time_hours</th>
            <th>actions</th>

        </tr>
        </thead>
        {% for service in service_list %}
            <tr>
                <th scope="row"></th>
                <td>{{ service.date }}</td>
                <td>{{ service.client }}</td>
                <td>{{ service.kind_of_service }}</td>
                <td>{{ service.time_hours }}</td>
                <td>
                    <div>
                        <a href="{% url 'services:service_edit' service.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="{% url 'services:service_delete' service.id %}"
                           class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
