<!DOCTYPE html>
<html lang="en" data-bs-theme="{% include "services/user_profile/userprofile_theme.html" %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
{#<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" data-bs-theme="dark">#}
<nav class="navbar sticky-top navbar-expand-lg"
     data-bs-theme="{% include "services/user_profile/userprofile_theme.html" %}">
    <a class="navbar-brand" href="{% url 'services:home' %}">
        <img src="{% static "logo/time_tracker_40.png" %}" class="img-fluid" alt="Time Tracker">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'services:service_list' %}">
                    Services <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Catalogs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'services:client_list' %}">Clients</a>
                    <a class="dropdown-item" href="{% url 'services:kindofservice_list' %}">Kind of Services</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'services:currency_list' %}">Currency ($,€,£,etc.)</a>
                    <a class="dropdown-item" href="{% url 'services:currencyrate_list' %}">Currency Rates</a>
                </div>
            </li>

            {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkLogin" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkLogin">
                        <a class="dropdown-item" href="{% url 'services:userprofile_edit' user.id %}">Edit settings</a>
                        <a class="dropdown-item" href="{% url 'services:action_list' %}">Action Tracker</a>
                        <a class="dropdown-item" href="{% url 'services:logout' %}">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin (django)</a>
                    </div>
                </li>

            {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'services:login' %}">
                        Login <span class="sr-only"></span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'services:signup' %}">
                        Register <span class="sr-only"></span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

{#Footer#}
<nav class="navbar fixed-bottom navbar-expand-lg"
     data-bs-theme="{% include "services/user_profile/userprofile_theme.html" %}">
    {#    <nav class="navbar fixed-bottom navbar-expand-lg" data-bs-theme="light">#}

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="true"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'services:home' %}">&copy; 2023 Developers</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/volodymyr-hlavnyi">Volodymyr Hlavnyi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/da-fedin">Dmytro Fedin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/nikita-voloshyn">Nikita Voloshyn</a>
            </li>
        </ul>
    </div>
</nav>

</body>

</html>
