{% extends "base_services/base.html" %}

{% block content %}
    <h1>Action Tracker</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th>date</th>
                    <th>client</th>
                    <th>Status</th>
                    <th>Hours</th>
                    <th>Earning</th>
                </tr>
            </thead>
            {% for action, time in combined_list %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ action.service.date }}</td>
                    <td>{{ action.client }}</td>
                    <td>{{ action.status }}</td>
                    <td>{{ action.service.time_hours }}</td>
                    <td>
                        {% if action.manually_closed %}
                            {{ time }}
                        {% elif action.status == 'Closed' %}
                            {{ time }}
                        {% else %}
                            Service not closed yet
                        {% endif %}
                    </td>
                    <td>
                        <div>
                            {% if action.status == 'Started' %}
                                <a href="{% url 'services:action_close' action.id %}" class="btn btn-outline-primary btn-sm">Close</a>
                            {% else %}
                                <a href="{% url 'services:service_edit' action.service.id %}" class="btn btn-outline-primary btn-sm">Start</a>
                            {% endif %}
                            <a href="{% url 'services:action_delete' action.id %}" class="btn btn-outline-primary btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}