{% extends "base_services/base.html" %}

{% block content %}
  <h1>Welcome to Time Tracker</h1>
  <p>This is a simple time tracking application that helps you keep track of your work hours for different employers and services.</p>
  <p>To get started, you can:</p>
  <ul>
    <li><a href="{% url 'services:client_list' %}" class="btn btn-primary">View Clients</a></li>
    <li><a href="{% url 'services:kindofservice_list' %}" class="btn btn-primary">View Kind of Services</a></li>
    <li><a href="{% url 'services:service_list' %}" class="btn btn-primary">View Services</a></li>
  </ul>

{% endblock %}
